.deploymentForm {
    margin-bottom: 20px;
}

.gridTwo {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;  
}

.printBtnDiv {
    text-align: center;
    margin-top: 20px;
}

.headingDiv {
    text-align: center;
}
